include pyproject.toml
include *.md
include LICENSE
recursive-include tests test*.py
include *.cff
include *.ipynb
include *.png
include cross_check_against_common_english_vocab.py
include find_short_drug_names.py
recursive-include harvesting_data_from_source *.py
recursive-include harvesting_data_from_source *.csv
recursive-include src *.bz2
recursive-include harvesting_data_from_source *.json